/* Base Overrides
   ========================================================================== */

body {
    font-size: $body-font-size-sm;
}

@media (min-width: 768px) {
    body {
        font-size: $body-font-size;
    }
}

@media (min-width: 768px) {
    body {
        font-size: $body-font-size-lg;
    }
}

/* Navigation */

a {
    transition: color 0.4s ease-in;
}