/* Buttons
   ========================================================================== */

.btn.MediumButton {
    min-width: 10em;
}


/* Content File / File Download Buttons */


/* Set DisplayFile to hidden to hide text node label which displays the file type (e.g. Adobe PDF File) */

.DisplayFile {
    visibility: hidden;
}


/* Set 'a' element to visible to display the download button */

.DisplayFile>a {
    visibility: visible;
}


/* Set Display: none on line break to remove empty line space caused by hiding text node */

.DisplayFile>br {
    display: none;
}


/* Full Width / View All Style Button */

.btn__view-all {
    background: $footer-bg;
    display: block;
    margin-left: 0;
}

.btn__view-all:focus,
.btn__view-all:hover {
    background: lighten($footer-bg, 6%);
}

// Scroll To Top Link
.link__scroll-to-top {
    color: $primary-color;
}

.link__scroll-to-top:focus,
.link__scroll-to-top:hover {
    color: $primary-color-hover;
}