/* Buttons
   ========================================================================== */

.btn.MediumButton {
    min-width: 10em;
}


/* Content File / File Download Buttons */


/* Set DisplayFile to hidden to hide text node label which displays the file type (e.g. Adobe PDF File) */

.DisplayFile {
    visibility: hidden;
}


/* Set 'a' element to visible to display the download button */

.DisplayFile>a {
    visibility: visible;
}


/* Set Display: none on line break to remove empty line space caused by hiding text node */

.DisplayFile>br {
    display: none;
}


/* Custom Find Button */

[id*='MemberSearchIQA'].TextButton {
    background: darken($primary-color, 10%);
}

[id*='MemberSearchIQA'].TextButton:hover,
[id*='MemberSearchIQA'].TextButton:visited {
    background: darken($primary-color, 20%);
}


/* Full Width / View All Style Button */

.btn__view-all {
    background: $footer-bg;
    display: block;
    margin-left: 0;
}

.btn__view-all:focus,
.btn__view-all:hover {
    background: lighten($footer-bg, 6%);
}

// Scroll To Bottom Link
.fa-chevron-down:hover {
    animation: bounce 1s ease-in-out infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0)
    }
    50% {
        transform: translateY(8px);
        opacity: 0.6;
    }
    100% {
        transform: translateY(0)
    }
}

// Scroll To Top Link
a.link__scroll-to-top {
    bottom: calc(0% - -10px);
    color: $primary-color !important;
    position: fixed;
    right: calc(0% - -10px);
    transition: transform 0.5s ease;
    &:focus,
    &:hover {
        color: $primary-color-hover;
        transform: translateY(-4px);
    } // Animate Scroll To Top Link 
    em:first-child {
        animation-delay: 0.8s !important;
    }
    >br {
        content: " ";
        display: block;
        margin-top: -16px;
    }
    .fa-chevron-up {
        animation: fade 1.4s ease-in-out infinite alternate;
    }
}

@keyframes fade {
    0% {
        opacity: .3
    }
    to {
        opacity: 1
    }
}