/* Modules
   ========================================================================== */

// Navigation
.nav-auxiliary a {
    text-decoration: none;
}

// Primary Navigation
.RadMenu .RadSiteMap,
.RadMenu .RadSiteMap .rsmItem,
.RadMenu .RadSiteMap .rsmTwoLevels .rsmItem {
    font-size: 0.96em;
}

.rmRootLink:after {
    color: $primary-color;
    content: " | ";
    position: absolute;
    right: 0;
    top: calc(50% - 5px);
    transform: translateY(-50%);
}

.rmItem.rmLast .rmRootLink:after {
    content: "";
}

.rmItem.rmLast .RadMenu .rmRootLink.rmExpanded:after,
.rmItem.rmLast .RadMenu .rmRootLink:hover:after,
.rmItem.rmLast .RadMenu .rmRootLink:focus:after {
    content: "";
}

// Anchor Menu
.row--anchor-menu {
    background: $secondary-color;
    padding: 1em 0;
}

.row--anchor-menu .ContentItemContainer {
    margin-bottom: 0;
}

.row--anchor-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    .row--anchor-menu ul {
        flex-direction: row;
    }
}

.row--anchor-menu li {
    display: inline-flex;
    padding: 5px 20px 5px 10px;
    position: relative;
}

.row--anchor-menu li a {
    color: $gray-pretty-dark;
    font-family: $pt-serif;
    font-weight: $font-weight-bold;
    letter-spacing: 0.02em;
    text-decoration: none;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .row--anchor-menu li:after {
        color: $primary-color;
        content: " | ";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    .row--anchor-menu li:last-child:after {
        content: "";
    }
}

// Search Results
.GridCardStyle .RadGrid {
    border: none;
}

.SearchResultSummary .ImageSection {
    display: none;
}

.SearchResultSummary .Description {
    margin-left: 0;
}

.RadGrid_MetroTouch .rgRow,
.RadGrid_MetroTouch .rgAltRow,
.RadGrid_MetroTouch .rgRow>td,
.RadGrid_MetroTouch .rgAltRow>td {
    background: #fff;
    border: none !important;
    padding: 1em 0 !important;
}

// News Articles
.row--article-wide-image {
    background: transparent;
}

// Tagged List Items
.row--tagged-list-item {
    background: transparent;
}

.row--tagged-list-item .ContentHtml:not(:first-of-type) {
    display: none;
}

.row--tagged-list-item .ContentHtml:first-of-type img {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(20% 0, 80% 0, 80% 100%, 20% 100%);
}

// Date is largely used with News Articles but can be deployed anywhere
.Date {
    color: $primary-color;
    font-family: $pt-serif;
    font-weight: $font-weight-bolder;
}