/* Utilities
   ========================================================================== */

.text-capitalize {
    text-transform: capitalize;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase {
    text-transform: uppercase;
}

/* Remove Margin */

// Reduce margin-bottom: 0.9em from ContentItemContainer

.WebPartZone--heading-zone .ContentItemContainer,
.ContentItemContainer--remove-margin .ContentItemContainer {
    margin-bottom: 0;
}