/* Utilities
   ========================================================================== */

.text-capitalize {
    text-transform: capitalize;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase {
    text-transform: uppercase;
}


/* Remove Margin */

// Reduce margin-bottom: 0.9em from ContentItemContainer
.WebPartZone--heading-zone .ContentItemContainer,
.ContentItemContainer--remove-margin .ContentItemContainer {
    margin-bottom: 0;
}

// Hide Column Header in IQA
.RadGrid--hide-column-header .rgHeader {
    display: none;
}

// Remove Borders
// Use RadGrid--remove-border
.RadGrid--hide-border .RadGrid {
    border-color: transparent;
}

// IQA Unordered List
.RadGrid--IQA-unordered-list .rgRow,
.RadGrid--IQA-unordered-list .rgAltRow,
.RadGrid--IQA-unordered-list .rgRow>td,
.RadGrid--IQA-unordered-list .rgAltRow>td {
    padding: 0.1em 0 !important;
}

// Sometimes IQA Height is Auto Calculated by iMIS. This Style Will Apply Auto Height
.RadGrid--auto-height {
    height: auto !important;
}

// DisplayFile (ContentFile) Button Alignment
.btn-center .DisplayFile a {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 12em;
}