/* Variables
   ========================================================================== */

/* Fonts
   ========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|PT+Serif:400,700');

$open-sans: 'Open Sans', sans-serif;
$pt-serif: 'PT Serif', serif;

/* Colors
   ========================================================================== */

// Used for h1, .h1, .PageTitle and .PrimaryButton, .SaveAndClose, .SaveAs, .UsePrimaryButton .TextButton, .UsePrimaryButton .TextButtonWithImage, #masterHeaderActionArea a, .RadGrid input.PrimaryButton
$primary-color: #ae9c4d;
$primary-color-hover: lighten($primary-color, 10%);
// Used for .btn, .TextButton, .TextButtonWithImage, .ruButton, #masterHeaderActionArea a, .RadGrid input.TextButton
$secondary-color: #eae7dc;
$secondary-color-hover: lighten($secondary-color, 10%);
$rad-control-color: #3aabcf;
$progress-color: #ffdd6f;
$progress-bar: #db9770;
$section-label-color: #009b96;

$gray : #333333;
// Used for h1, .h1, .PageTitle, h2, .h2, .PanelTitle
$gray-pretty-dark : #002b4f;
$gray-medium : #555;
$gray-lightened : #999999;

$gray-bg: #f4f5ed;

$link-color: #23749d;
$link-hover-color: #1a5573;
$link-visited-color: #2883b2;

$helper-text-color: #0064cd;

/* Font Weights
   ========================================================================== */

$font-weight-thin: 200;
$font-weight-normal: normal;
$font-weight-bold: 400;
$font-weight-bolder: 700;

/* Typography
   ========================================================================== */

$font-family-stack: $open-sans;
$font-family-heading-stack: $pt-serif;

$body-font-size-sm: 15px;
$body-font-size: 17px;
$body-font-size-lg: 19px;

$body-line-height: 1.6;

/* Headings
   ========================================================================== */

$font-size-h1: 250%;
$font-size-h2: 170%;
$font-size-h3: 160%;
$font-size-h4: 150%;
$font-size-h5: 140%;
$font-size-h6: 130%;

$feature-text: 150%;

$large-body-text: 120%;

/* Primary Menu
   ========================================================================== */
$primary-menu-link-color: #002b4f;

/* Common Padding Settings
   ========================================================================== */

$common-padding-vertical: 10px;
$common-padding-horizontal: 15px;

/* Tables and Borders
   ========================================================================== */

$border-color: #ddd;
$border-style: dotted;
$border: 1px dotted #666666;

$panel-selected-item: #93cadc;

/* Inputs
   ========================================================================== */

$input-border-color: #ccc;
$input-border-style: solid;
$input-border: 1px solid #ccc;

$input-border-color-focus: #66afe9;

/* Footer
   ========================================================================== */

$footer-bg: #edeff4;