$blue: blue;
$weight: 1px;
$pink: pink;

// styles.scss
.testing {
  width: percentage(5/7);
}

h1 {
    color: $blue;
}

h1.pink {
    color: $pink;
}

h2 {
    color: $pink;
}

.l-fixed {
    border: $weight solid $blue
}