$red: #ff0000;
$green: green;
$fuchsia: fuchsia;
$orange: orange;
$border-radius: 4px;
$transform: translateY(40px);
$grid: grid;
// styles.scss
.testing {
  width: percentage(5/7);
}

h1 {
  color: $fuchsia;
}

p {
  color: $green;
}

div {
  background: $orange;
  border-radius: $border-radius;
  transform: $transform;
  display: flex;
}

article {
  display: $grid;
}