@charset "UTF-8";

/* Basic setup (over rides)
   ========================================================================== */


/* colors */


/* spring green #00ff7f */

body {
    letter-spacing: .04em;
}


/* responsive typography */

@media (min-width: 768px) {
    body {
        font-size: 16px;
    }
}

@media (min-width: 992px) {
    body {
        font-size: 18px;
        line-height: 1.8;
    }
}


/* fix flex wrap issue in ie */

p {
    width: 100%;
}

b,
strong,
th {
    font-weight: 400;
}

input,
button,
select,
textarea {
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

label,
.Label,
.PanelFieldLabelFont {
    font-weight: 400;
}

.PanelField .Required {
    background-image: none !important;
}

.PanelField .Required:before {
    content: " * ";
    color: #f00;
}

.PanelField {
    display: flex;
    align-items: center;
}


/* tables */

.table {
    margin-bottom: 28px;
    max-width: 100%;
    width: 100%;
}

table {
    background-color: transparent;
}

.table>thead>tr>th {
    vertical-align: bottom;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    border-top: 1px solid #ddd;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}

th {
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

th {
    text-align: left;
}

h1 a,
h1 a:hover {
    text-decoration: none;
}

@media (max-width: 768px) {
    h1.xl {
        font-size: 3.2em;
        line-height: 1em;
    }
    h1.xl>span.countries {
        line-height: 1.8em;
        margin: 1.6em;
    }
}

.xl {
    font-size: 3.6em;
    letter-spacing: 0.01em;
}

span.countries {
    color: #fff;
    display: block;
    font-size: 0.22em;
    font-weight: 400;
    letter-spacing: 0.24em;
    margin: 0.44em;
}

h2 {
    border-bottom: 0 !important;
}

@media (min-width: 468px) {
    h2,
    .h2 {
        margin-bottom: 0.4em;
    }
}

h3 {
    font-size: 160%;
    font-weight: 100;
}

a {
    cursor: pointer;
    -webkit-transition: color .1s ease-out;
    -moz-transition: color .1s ease-out;
    -o-transition: color .1s ease-out;
    transition: color .1s ease-out;
}

a:hover,
a:focus,
a:active,
.RadGrid a:hover,
.RadGrid a:focus,
.RadGrid a:active {
    text-decoration: underline;
}


/* Header
   ========================================================================== */

.header {
    background: #fff;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1000;
}

#masterHeaderImage {
    background-size: contain;
}


/* Search results
   ========================================================================== */

.l-grid-list .RadGrid {
    max-width: 900px;
    margin: 0 auto;
}

.l-grid-list .RadGrid,
.l-grid-list .RadGrid .rgRow,
.l-grid-list .RadGrid .rgAltRow,
.l-grid-list .RadGrid td {
    background: none;
    border: none !important;
}

.l-grid-list .RadGrid td {
    border-bottom: 1px solid #efefef !important;
}

.SearchField label {
    display: none;
}

.SearchResultSummary .ImageSection,
.SearchResultSummary .PublishDate {
    display: none;
}

.SearchResultSummary .Description {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    max-width: 770px;
}

.SearchResultSummary .Description>:last-child:after {
    content: "...";
}

.SearchResultSummary .ListItemTitle.SearchResultLink a {
    font-weight: 100;
}


/* Auxiliary button links
   ========================================================================== */

.navbar-toggle {
    padding: 10px;
    height: 48px;
}

.navbar-toggle:hover,
.navbar-toggle:focus {
    color: #fff;
}

.auth-link-container {
    display: none;
}


/* Fit all elements on a single line
   ========================================================================== */

@media (min-width: 768px) {
    div#navbar-collapse {
        float: none !important;
        display: inline-block !important;
        clear: none !important;
    }
    div#auxiliary-container {
        display: none;
    }
    .search-container-sm {
        float: right !important;
    }
    .header-container {
        text-align: right;
    }
}


/* Navigation
   ========================================================================== */

@media (min-width: 768px) {
    li.rmItem a:after {
        content: " | ";
        padding-left: 10px;
    }
    .RadMenu.rmResponsive .rmLink,
    .RadMenu.rmResponsive .rmSlide .rmLink {
        padding: 10px 15px 10px 0;
    }
}

li.rmItem:last-child a:after {
    content: "";
}

@media (max-width: 767px) {
    .RadMenu.rmResponsive .rmRootLink:hover,
    .RadMenu.rmResponsive .rmRootLink:focus,
    .RadMenu.rmResponsive .rmExpanded>.rmRootLink {
        background-color: #f5f5f5;
    }
}

@media (max-width: 767px) {
    .RadMenu.rmResponsive .rmLink,
    .RadMenu.rmResponsive .rsmLink {
        border-bottom: 1px solid #ccc;
        background-color: #fff;
    }
}


/* Main
   ========================================================================== */

#masterContentArea {
    padding: 0;
}


/* OBO
   ========================================================================== */

.obo-container {
    display: none;
}


/* Templates and grids
   ========================================================================== */

/* only used on sub webformz pages and to be replaced */

.block-btn {
    background: #444;
    color: #fff !important;
    display: inline-block;
    font-size: 0.8em;
    letter-spacing: 0.2em;
    margin: 5px;
    padding: 10px 20px;
    transition: all 0.1s ease-out 0s;
}

.block-btn.action-1 {
    background: #20ce46;
    font-size: 1em !important;
    padding: 1em 2.4em;
}

.block-btn:hover,
.block-btn:focus {
    background: #222;
    color: #fff;
    text-decoration: none;
}


/* Editions
   ========================================================================== */

.editions {
    background: linear-gradient(#fafafa, #fff);
}

.edition imis-20-100 {
    background: rgba(0, 0, 0, 0) linear-gradient(#fafafa, #fff) repeat scroll 0 0 !important;
}

.edition {
    margin-top: 40px;
    background: #fff;
    padding: 1.4em 1.4em 0;
}

@media (max-width: 467px) {
    .edition {
        text-align: center;
    }
}

.edition h3 {
    border-bottom: 1px solid #eee;
    color: black;
    font-size: 1.4em;
    font-weight: 500;
    letter-spacing: 0.124em;
    margin: -0.4em -1em 0.4em;
    padding: 0.4em;
}

@media (min-width: 767px) {
    .edition>p:nth-child(2) {
        /* min-height: 200px; */
    }
}

.edition>p:nth-child(2) {
    color: #808080;
    padding: 0.6em 0 0.2em;
}


/* products */

.edition.products {
    min-height: 260px;
    position: relative;
}

.products .button-container {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}

.section-introduction {
    background: #444;
    color: #fff;
    padding: 3em 0;
}

.section-introduction h2,
.section-introduction strong {
    color: #fff;
}

a.contact {
    color: #1fb9eb;
}


/* Carousel
   ========================================================================== */

.bx-wrapper {
    margin: 0 auto 60px;
    padding: 0;
    position: relative;
}

.bx-wrapper .bx-viewport {
    background: #fff none repeat scroll 0 0;
    left: -5px;
    transform: translateZ(0px);
}

.bx-wrapper .bx-viewport {
    left: 0 !important;
}

.bx-viewport {
    background: transparent none repeat scroll 0 0 !important;
}

.bx-wrapper .bx-controls-direction a {
    text-indent: -9999px;
}

.bx-prev,
.bx-next {
    color: #999;
    font-size: 3.3em;
    font-weight: normal;
    line-height: 50px;
    text-align: center;
    text-indent: 0 !important;
}

.carousel-inner.bg-img>.item {
    max-width: 1270px;
    margin: 0 auto;
    background-size: contain;
}

.carousel .carousel-control {
    background: none;
    text-shadow: none;
    color: #444;
}

ul.list-group {
    padding-left: 0;
    margin: 1em 0;
}

.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.list-group-item {
    background: rgba(0, 0, 0, 0) url("images/arrow-right.png") no-repeat 0 18px;
    border-bottom: 1px solid #eee;
    display: block;
    padding: 14px 30px;
    position: relative;
    background-size: 14px;
}


/* Contact us
   ========================================================================== */

.flags {
    list-style: none;
    padding-left: 2px;
}

.flags li {
    display: inline-block;
    line-height: 1.6em;
    margin: 0.8em 0;
    padding: 0px 1.6em;
    background-size: 24px !important;
}

@media (min-width: 768px) {
    .flags li {
        display: inline-block;
    }
}

.flags li:first-child {
    background: url(images/flag-icon-uk.png) no-repeat 0 0;
}

.flags li:last-child {
    background: url(images/flag-icon-us.png) no-repeat 0 0;
}

.feature-list {
    min-height: 200px;
    list-style: none;
}

@media (max-width: 467px) {
    ul.feature-list {
        min-height: auto !important;
    }
}

ul.feature-list li {
    background: rgba(0, 0, 0, 0) url("images/arrow-right.png") no-repeat scroll left center / 0.8em auto;
    border-bottom: 1px solid #eee;
    color: #777;
    font-size: 0.9em;
    padding: 0.6em 0 0.6em 1.8em;
    margin-left: -45px;
}


/* Table stripe
   ========================================================================== */

.table-striped>tbody>tr:nth-child(2n+1)>td,
.table-striped>tbody>tr:nth-child(2n+1)>th {
    background-color: #f9f9f9;
}


/*menu Responsive*/

.contact a {
    color: #30b9e9 !important;
}


/* Footer
   ========================================================================== */

.footer {
    background: url("images/Linen_Background2-01-01.jpg") no-repeat;
    position: relative;
}

.footer-nav-copyright {
    display: none;
}

.footer-content .row {
    padding: 0;
}

.back-to-top-link {
    background-color: #fff;
    border-radius: 50%;
    display: block;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    top: -53px;
    width: 50px;
    z-index: 10;
}

.back-to-top-link a {
    color: #444;
    display: block;
    font-size: 10px;
    font-weight: normal;
    letter-spacing: 2px;
    line-height: 0;
    padding-left: 2px;
    padding-top: 0;
}

.back-to-top-link a .arrow::before {
    content: ">";
    display: inline-block;
    font-size: small;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
}

.back-to-top-link a .arrow::before {
    line-height: 32px;
}

.back-to-top-link a .arrow::before {
    font-size: 16px;
    transform: rotate(-90deg);
}

.back-to-top-link a .arrow {
    display: block;
    margin: 0 auto 2px;
    text-align: center;
    width: 16px;
}

.help-section {
    padding: 1em 0;
}

.help-section a>img {
    height: 16px !important;
}

@media (max-width: 520px) {
    .title-page {
        margin: auto;
        width: 100% !important;
    }
    .downloadhide {
        display: none;
    }
    .information {
        display: none;
    }
}

@media (max-width: 520px) {
    .version-max {
        display: none;
    }
}


/* iMIS over rides
   ========================================================================== */

.iMIS-WebPart>.ContentItemContainer,
.WebPartZone>.ContentItemContainer {
    margin-bottom: 1.9em !important;
}


/* revised heading styles */

h1 {
    text-transform: capitalize;
    letter-spacing: 2px !important;
}

.hero h1,
.half-hero h1 {
    letter-spacing: 0.06em !important;
    font-size: 3.6em;
}

/* custom icons */

.custom-icon {
    max-width: 4.117647058823529em;
}


/* about page */


/* must standardise on .row--full-width */

.row--full-width,
.row.full-width {
    margin-bottom: 1.9em !important;
    max-width: 100% !important;
}

.row--full-width .ContentItemContainer,
.row.full-width .ContentItemContainer {
    margin-bottom: 0 !important;
}

.hero {
    align-items: center;
    background: #beedec;
    background: url(http://res.cloudinary.com/ifinity/image/upload/c_scale,q_auto:best,w_2100/c_scale,q_auto:best,w_1200/v1487246481/iStock-523860874_benksz.jpg) no-repeat left top / cover;
    display: flex;
    height: 80vh;
    width: 100%;
    position: relative;
}

.hero:before {
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.home.hero:before {
    background: transparent;
}

.hero.products:before {
    background: rgba(255, 255, 255, 0.3);
}

.half-hero {
    align-items: center;
    background: #beedec;
    background: url(http://res.cloudinary.com/ifinity/image/upload/c_scale,q_auto:best,w_2400/c_scale,q_auto:best,w_1200/v1487588707/atanas-chankov-55284_nkciuo.jpg) no-repeat left top / cover;
    display: flex;
    height: 60vh;
    width: 100%;
}

.download-section {
    background: #00ff7f;
    padding: 2em 0;
}

.download-section {
    align-items: center;
    background: mediumspringgreen;
    background: url(http://res.cloudinary.com/ifinity/image/upload/c_scale,q_auto:best,w_2400/c_scale,q_auto:best,w_1200/c_scale,q_auto:best,w_640/v1490616524/ifinity-springgreen-bg_i0fffn.png);
    background-size: cover;
    display: flex;
    height: auto;
    min-height: 70vh;
    width: 100%;
}

.download-section h1 a,
.download-section .item-version-date span {
    color: #000;
}

@media (min-width: 768px) {
    .hero {
        height: calc(100vh - 100px);
        width: calc(99vw - 10px);
    }
    .hero.home {
        width: 100vw;
    }
    .half-hero {
        height: calc(70vh - 100px);
        width: calc(99vw - 10px);
    }
}

.hero.products {
    background-image: url(http://res.cloudinary.com/ifinity/image/upload/c_scale,q_auto:best,w_2020/c_scale,q_auto:best,w_1140/v1487246085/iStock-526545317_xtdblc.jpg);
}

.hero h1,
.half-hero h1 {
    /* font-family: "acumin-pro-wide", Verdana, sans-serif; */
    letter-spacing: .08em;
}

.hero.home,
.about-imis {
    align-items: center;
    background: url(images/Linen_Background-02-01-01.jpg);
    color: #fff;
    display: flex;
    min-height: 14em;
    padding: 6em 0;
}

.about-imis h2 {
    color: #fff;
}

.about-imis-2 {
    align-items: center;
    background: #333;
    color: #fff;
    display: flex;
    min-height: 14em;
    padding: 6em 0;
}

.about-imis .iMIS-WebPart>.ContentItemContainer,
.about-imis-2 .iMIS-WebPart>.ContentItemContainer {
    margin-bottom: 0 !important
}


/* key statistics / featured quote / stat */

.key-statistic__block {
    align-items: center;
    display: flex;
    flex-direction: column;
}

@media (min-width: 992px) {
    .key-statistic__block {
        flex-direction: row;
    }
}

.key-statistic__block.one {
    flex-direction: column;
}

.key-statistic__block__number {
    align-items: center;
    display: flex;
    order: 1;
}

.key-statistic__block__number em {
    background: linear-gradient(#3bcfff, #85e0ff);
    border-radius: 68px;
    color: white;
    font-size: 48px;
    height: 68px;
    line-height: 68px;
    width: 68px;
}

.key-statistic__block__number h2 {
    color: #fff;
    font-size: 4.4em !important;
    margin: 0;
}

.key-statistic__block__number sup {
    align-items: center;
    color: #fff;
    font-size: 2.2em;
    font-weight: 500;
    margin-left: 0.2em;
    top: 0;
}

.key-statistic__block__associated-text {
    order: 2;
    margin-left: 1em;
}

.key-statistic__block__associated-text p {
    color: #fff;
    font: 100 1.6em/1.2em 'canada-type-gibson';
    letter-spacing: 0.06em;
    max-width: 12em;
    text-align: center;
    width: auto;
}

@media (min-width: 992px) {
    .key-statistic__block__associated-text p {
        text-align: left;
    }
}

.key-statistic__block.one .key-statistic__block__associated-text p {
    text-align: center;
}

.key-statistic__block__associated-text br {
    display: none;
}

.key-statistic__block__desc {
    order: 3;
    width: 100%;
}

.key-statistic__block__read-more {
    order: 4;
}


/* download webformz page */

.download-info-container {
    align-items: center;
    background: #fff;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    font-size: 1.1em;
    height: 70vh;
    justify-content: center;
    max-height: 480px;
    padding: 1em;
    margin: 0 auto 1em;
    max-width: 880px;
    opacity: 0.9;
    transition: all 200ms ease;
}

.download-info-container>p {
    max-width: 660px;
}

.hidden {
    opacity: 0;
    transform: translateY(-200px);
    margin-top: -200px;
}

.download-info-container-icon {
    align-items: center;
    background: tomato;
    border-radius: 60px;
    color: #fff;
    display: flex;
    font-size: 3.6em;
    height: 60px;
    justify-content: center;
    text-align: center;
    width: 60px;
}

i.download-info-container-icon.material-icons.small {
    font-size: 1.4em;
    width: 34px;
    height: 34px;
    border-radius: 34px;
}

.download-info-read-this-first {
    font-size: 0.7em;
    text-transform: uppercase;
    letter-spacing: 0.09em;
    font-weight: 400;
    display: flex;
    justify-content: center;
    max-width: 620px;
    align-items: center;
    cursor: pointer;
    transition: all 200ms ease-out;
    -webkit-transition: all 200ms ease-out;
}

.download-info-container-proceed-icon {
    margin-right: 0.2em;
    opacity: 0;
    position: absolute;
    transform: translateX(60px);
}

.download-info-read-this-first:hover .download-info-container-proceed-icon {
    color: #00ff7f;
    opacity: 1;
    transform: translateX(-60px);
    transition: all 200ms ease;
}


/* tagged list pages */

.releases .TaggedListPanel {
    max-width: 600px;
    margin: 0 auto;
}

@media (max-width: 767px) {
    .download-section .releases .TaggedListPanel {
        margin-left: -45px;
        margin-right: -45px;
    }
}

.tagged-list-item {
    align-self: center;
    border-bottom: 1px solid rgba(158, 158, 158, 0.2);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 1em 0;
    transition: all 80ms ease-out;
}

@media (min-width: 768px) {
    .tagged-list-item {
        padding: 1em;
    }
}


/* remove border bottom on last child */

.tagged-list-item:nth-child(10) {
    border-bottom: none !important;
    margin-bottom: 1em;
}

.tagged-list-item.fade-in {
    opacity: 1;
}

.tagged-list-item.fade-out {
    opacity: 0.4;
}

.item-version-date {
    color: rgba(128, 128, 128, 0.7);
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.item-version-no-and-date {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.item-version-no {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.item-version-no h2 {
    margin: 0;
    line-height: 1em;
}

/* .item-version-no-and-date h1 a:before,
.item-version-no-and-date h2 a:before {
    content: "Version ";
} */

.download-info-read-this-first {
    align-self: center;
    flex-direction: row;
    padding: 0.4em 0.4em;
    margin: 0 -0.4em;
}

.item-version-no a {
    color: #1fb9eb;
}

.item-update-type--hotfix span span:not(:empty),
.item-update-type--ea span span:not(:empty) {
    align-items: center;
    color: #fff;
    display: flex;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    margin-right: 0.2em;
    max-height: 24px;
    padding: 0.44em;
    text-transform: uppercase;
}

.item-update-type--hotfix span span:not(:empty) {
    background: #ed143d;
}

.item-update-type--ea span span:not(:empty) {
    background: #00ff7f;
}

.tagged-list-item:hover {
    transform: scale(1.04);
}

.tagged-list-item:hover h2 a,
.tagged-list-item:hover .item-version-date .date {
    color: #00ff7f;
    cursor: pointer;
    text-decoration: none;
}

.item-version-date .material-icons {
    display: none;
    font-size: 18px;
    margin-right: 0.4em;
}

.item-version-date .date {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.date.sm-spaced.small.text-uppercase {
    font-size: 0.74em;
    margin: 0.4em 0;
}


/* dialog */

.popup-overlay {
    background: rgba(0, 0, 0, 0);
    bottom: 0;
    height: 100%;
    left: 0;
    max-width: 100% !important;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    transition: all 100ms ease;
    -webkit-transition: all 100ms ease;
    z-index: -1;
}

.popup-overlay.fixed {
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 1000;
}

.popup-window {
    margin: 0 auto;
    opacity: 0;
    transform: translateY(-200px);
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
}

.popup-window.show-popup-window {
    opacity: 1;
    transform: translateY(100px);
}

.popup-window.hide-popup-window {
    opacity: 0;
    transform: translateY(-200px);
}


/* Module classes
   ========================================================================== */


/* Search field */

.header-search .search-field {
    background: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-128.png) no-repeat left center / 20px;
    border: none !important;
    border-bottom: 1px solid transparent !important;
    font-size: smaller;
    width: 1px;
    transition: width .2s, padding .2s, border .2s;
    text-indent: -9999px;
}


/* Extended */

.header-search .search-field.extended {
    border-bottom: 1px solid #eee !important;
    padding-left: 100px;
    width: 200px;
    text-indent: 0;
}


/* Focused */

.header-search .search-field:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}


/* Utility classes
   ========================================================================== */

.text-capitalize {
    text-transform: capitalize;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase {
    text-transform: uppercase;
}

.sm-spaced {
    letter-spacing: 0.1em;
}

.md-spaced {
    letter-spacing: 0.2em;
}

.margin-bottom-0 .iMIS-WebPart:last-child .ContentItemContainer {
    margin-bottom: 0 !important;
}

.underline {
    width: 20px;
    height: 1px;
    background: rgba(0, 0, 0, .15);
    margin: 30px auto;
    margin-bottom: 0;
}

.material-icons.md-28 {
    font-size: 28px;
}


/* svg icons */

.svg {
    height: 100px;
    width: 100px;
}

.trending-down {
    fill: none;
}

.charts {
    fill: none;
}

.stroke {
    stroke: none;
    fill: #fff;
    /* stroke-width: 0.014em */
}