.testing {
  width: 71.42857%; }

h1 {
  color: #ff0000; }

.testing {
  width: 71.42857%; }

h1 {
  color: fuchsia; }

p {
  color: green; }

div {
  background: orange;
  border-radius: 4px;
  transform: translateY(40px);
  display: -ms-flexbox;
  display: flex; }

article {
  display: -ms-grid;
  display: grid; }

/* Buttons
   ========================================================================== */
.btn,
.btn a {
  text-decoration: none !important; }

.btn-rounded {
  border-radius: 14px; }

.btn.btn-darkgrey {
  background: #444;
  border-color: #444;
  color: #fff; }

.btn.btn-darkgrey:focus,
.btn.btn-darkgrey:hover {
  background: #222;
  border-color: #222; }

.btn.btn-springgreen {
  background: #00ff7f;
  border-color: #00ff7f;
  color: #fff; }

.btn.btn-springgreen:focus,
.btn.btn-springgreen:hover {
  background: mediumspringgreen;
  border-color: mediumspringgreen; }

.btn.btn-mediumturquoise {
  background: mediumturquoise;
  border-color: mediumturquoise;
  color: #fff; }

.btn.btn-mediumturquoise:focus,
.btn.btn-mediumturquoise:hover {
  background: darkturquoise;
  border-color: darkturquoise; }

.btn.btn-transparent {
  background: none;
  border-color: #fff;
  color: #fff; }

.btn.btn-transparent:hover {
  background: #fff;
  color: #444; }

.testing {
  width: 71.42857%; }

h1 {
  color: blue; }

h1.pink {
  color: pink; }

h2 {
  color: pink; }

.l-fixed {
  border: 1px solid blue; }
